body{
	height: 100%;
	font-family: 'Potta One', 'Source Sans Pro', 'Lato';
	background-image: linear-gradient(rgba(0, 0, 0 ,0.2) , rgba(0, 0, 0, 0.2) ), url(../../pengaduan/resources/img/bglogin.jpg);
	background-size: cover;
}

h2{
	/*ketebalan font*/
	font-weight: 300;
    font-size: 180%;
    text-align: center;
    letter-spacing: 1px;
	margin-top: 30px;
	font-family: 'Potta One';
    text-transform: uppercase;
	color: black;
}
p{
	font-size: 'Source Sans Pro';
	font-size: 120%;
}

h2::after{
    content: '';
    width: 150px;
    height: 2px;
    display: block;
    background-color: rgba(39, 57, 160, 0.815);
    margin: 0 auto;
    margin-top: 20px;
}

.form-text-text-muted{
	font-family: 'Lato';
	font-size: 12px;
}

.icon-big {
	font-size: 300%;
	display: block;
	color: #90aecf;
	margin-bottom: 10px;
}

.icon-small{
	display: inline-block;
	font-size: 200%;
    width: 30px;
    text-align: center;
    color: #90aecf;
    margin-right: 10px;

    /*Secrests to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
	font-family: 'Sorce Sans Pro';
}

.kotak_login{
	width: 350px;
	background-color: #00000046;
	/*meletakkan form ke tengah*/
	margin: 50px auto;
	padding: 30px 20px;
	border-radius: 8px;
	
}

label{
	font-size: 11pt;
	font-family: 'Source Sans Pro';
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-top: 20px;
}

.tombol_login{
	display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #9cade2c0;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    border-radius: 8px; 
	margin-right: 20px;
	background-color: #9cade2c0;
	margin-left: 60px;
}

.tombol_login:hover{
    background-color:#436ce7c0;
    transition: 0.3s;
    border: 1px solid #436ce7c0;
    color: #000000;
}
.btn2{
    margin-right: 40px;
	display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #9cade2c0;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    border-radius: 8px; 
	background-color: #ffffff;
	color: #000000;
}
.btn2:hover{
    background-color:#9cade2c0;
    transition: 0.3s;
    color: #000000;
}
.button{
	color: #0e1b63;

}
.button:hover{
	color: #363e8b;
}